/*-- scss:rules --*/

.reveal .blockquote {
  font-size: .7em;
}

#fig-viz {
	width: 100%;
	align-items: flex-end;
}

.my-footnote {
    position: absolute;
    bottom: 20px;
    font-size: 0.95rem;
    color: #6f6f6f;
}
